<div class="navbar" *ngIf="showNavbar">
    <img src="../../assets/Project Ninja logo.png" (click)="redirigirHome()">
    <div class="links-navbar">
        <div class="workspace" (mouseenter)="toggleListProjects()" (mouseleave)="toggleListProjects()">
            Workspace
            <ul *ngIf="showList">
                <li *ngFor="let proyecto of proyectos" (click)="redirigir(proyecto.id)">{{ proyecto.nameWorkspace }}</li>
            </ul>
        </div>
        <a><div class="profileNavBar">Perfil</div></a>
    </div>
</div>