@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #021218;
    height: 90px;
    position: relative;
}

.navbar img {
    position: absolute;
    left: 96px;
    top: 14px;
    cursor: pointer;
}

.links-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 23px;
    margin-right: 96px;
}

.workspace {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-right: 96px;
}

ul {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #021218;
    border: 1px solid black;
    border-radius: 8px;
    display: none;
    width: 175px;
    z-index: 9999;
}

li {
    padding: 10px;
    border-radius: 8px;
}
li:hover{
    background-color: #06212b;
}

.workspace:hover ul {
    display: block;
}