<div class="container-fluid m-0 p-0 bg-dark" style="height: 1080px;">

    <div class="container pt-5" style="width: 550px;">

        <h1 class="text-light m-2 text-center">Cambiar contraseña</h1>

        <div class="container pt-1" style="width: 500px;">

            <p class="text-light m-1 fw-lighter">Por favor ingrese una nueva contraseña que incluya:</p>

            <div class="container pt-1" style="width: 428px;">

                <p class="text-light m-0 fs-custom fw-light">●   Mínimo 8 caracteres, máximo 20. </p>
                <p class="text-light m-0 fs-custom fw-light">●   Mayúsculas y minúsculas.</p>
                <p class="text-light m-0 fs-custom fw-light">●   símbolos.</p>
                <p class="text-light m-0 fs-custom fw-light">●   No incluir espacios.</p>
        
            </div>
    
        </div>

    </div>

    <div class="container p-1 " style="width: 428px;">

        <form >
            <div class="my-3">
                <label for="exampleInputPassword1 text-light" class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1"placeholder="Introducir contraseña">
              </div>
            <div class="my-3">
              <label for="exampleInputPassword1 text-light" class="form-label">Confirmar contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1"placeholder="Introducir contraseña">
            </div>
            <div class="d-grid  mt-5">
                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
            </div>
        </form>

    </div>


</div>