<section className="task-block">
  <div className="task-block__select">
    <label htmlFor="select-task">Filtrar por:</label>
    <select id="select-task" className="task-select">
        <option value="">Select</option>
    </select>
</div>  
</section>

<div class="bg-dark border border-secondary border-opacity-50 rounded-2 m-3">


        <div class="m-3">

          <h3>Lista de tareas</h3>

          <table class="table table-dark table-borderless table-hover">

            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">nombre de la tarea</th>
                <th scope="col">status</th>
                <th scope="col">persona asignada</th>
                <th scope="col">fecha Expiracion</th>
                <th scope="col">prioridad</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <tbody class="">
              <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr> -->
              <tr class="p-0">

                <th scope="row">
                </th>

                <td class="p-0  ">
                  <div class="bg-secondary p-3 rounded-start">
                    <div class="form-check  m-0 ">
                      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                      </label>
                    </div>
                  </div>
                </td>
                <td class="p-0  ">
                  <div class="bg-secondary p-3">
                    nombre de la tarea
                  </div>
                </td>
                <td class="p-0">
                  <div class="bg-secondary p-3 ">
                    <div class="bg-light rounded-2 text-dark text-center">por hacer</div>
                  </div>
                </td>
                <td class="p-0">
                  <div class="bg-secondary p-3 ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    </svg>
                  </div>
                </td>
                <td class="p-0">
                  <div class="bg-secondary p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill" viewBox="0 0 16 16">
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                  </div>
                </td>
                <td class="p-0">
                  <div class="bg-secondary p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
                      <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
                    </svg>
                  </div>
                </td>
                <td class="p-0  ">
                  <div class="bg-secondary  p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                      <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                    </svg>
                  </div>
                </td>
                <td class="p-0">
                  <div class="bg-secondary p-3 rounded-end">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
              <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
              <td mat-cell *matCellDef="let colname">{{ colname[column] }}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
          </table> -->
          
          <table mat-table [dataSource]="dataSource" class="table table-dark table-borderless table-hover">

            <!-- Id Column -->
            <ng-container class="p-0" matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Id </th>
              <td class="bg-secondary p-3" mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>            

            <!-- Position Column -->
            <ng-container class="p-0" matColumnDef="demo-name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td class="bg-secondary p-3" mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container class="p-0" matColumnDef="demo-description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td class="bg-secondary p-3" mat-cell *matCellDef="let element"> {{element.description}} </td>
              <!-- <div class="p-0"  *matHeaderCellDef> Description</div>
              <div class="bg-secondary  p-3" *matCellDef="let element">{{element.description}}</div> -->
            </ng-container>

            <ng-container class="p-0" matColumnDef="expdate">
              <th mat-header-cell *matHeaderCellDef> Expiration date </th>
              <td class="bg-secondary p-3" mat-cell *matCellDef="let element"> {{element.expiredDate | date: 'MM/dd/yyyy'}} </td>
              <!-- <div class="p-0"  *matHeaderCellDef> Description</div>
              <div class="bg-secondary  p-3" *matCellDef="let element">{{element.description}}</div> -->
            </ng-container>            

            <!-- Position Column -->
            <ng-container class="p-0" matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef> Priority </th>
              <td class="bg-secondary p-3" mat-cell *matCellDef="let element"> {{element.priority}} </td>
            </ng-container>
            
            <!-- Position Column -->
            <ng-container class="p-0" matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td class="bg-secondary p-3" mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    
        </table>

        </div>

      </div>

      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-light btn-lg my-4 mx-5 mb-5 end-0 p-2 text-secondary"  routerLink="/add">+ Tarea</button>
      </div>