<div class="container m-0">
    <!-- <div class="row bg-black">
        <div class="col text-light">
            <h1 class="p-4 ">Task list</h1>
        </div>
    </div> -->
    <div class="row bg-black">
        <div class="col-lg-6 text-light">
          <h2>Lista de Tareas</h2>
        </div>
        <div class="col-lg-6" style="text-align: right;">
          <button mat-raised-button color="warn" routerLink="/add">AGREGAR</button>
        </div>
      </div>    
    <div class="row bg-dark">
        

    </div>

</div>

