<div class="modal fade" id="deleteSpaceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog text-center">
      <div class="modal-content bg-dark">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-exclamation-circle-fill text-light align-self-center m-3" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>
        <h1 class="modal-title fs-5 text-light m-2" id="deleteSpaceModal">Eliminar Espacio</h1>
        <p class="text-light">¿Estas seguro que quieres eliminar el espacio?</p>
        <div class="d-flex">
          <button type="button" class="btn btn-dark btn-outline-secondary m-3 me-auto px-5" data-bs-dismiss="modal">cancelar</button>
          <button type="button" (click)="deleteSpaceX(datad.id)" class="btn btn-danger m-3 px-5" data-bs-dismiss="modal">confirmar</button>
        </div>
      </div>
    </div>
  </div>