<div class="container-fluid m-0 p-0 " style="height: 1485px;">

  <div class="row bg-dark">
    <div class="col text-light p-4">

        <h1 class="px-4 d-inline">{{projectName}}</h1> 

    </div>
  </div>

  <div class="row" style="height:1400px; background-color: #021218;">
    <div class="col-3 text-light">

        <div class="">

            <h3 class="m-3">ESPACIOS</h3>

            <div *ngFor="let space of spaceList"class="card my-3 mx-4 border-0 bg-dark">
              <div type="button" class="btn btn-dark d-flex border-0" (click)="setSelectedSpace(space)">

                <h5 class=" text-light ps-3 m-0 flex-grow-1 align-self-center">{{space.nameSpace}}</h5>

                <button type="button" class="btn text-light" data-bs-toggle="modal" data-bs-target="#EditSpaceModal" (click)="setSelectedSpace(space)"><!-- -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon project-edit d-inline" viewBox="0 0 512 512">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="44"
                          d="M358.62 129.28L86.49 402.08 70 442l39.92-16.49 272.8-272.13-24.1-24.1zM413.07 74.84l-11.79 11.78 24.1 24.1 11.79-11.79a16.51 16.51 0 000-23.34l-.75-.75a16.51 16.51 0 00-23.35 0z" />
                  </svg>
                </button>
              </div>
            </div>

            <div class="mx-5">

              <button *ngIf = "numberOfSpaces" type="submit" class="btn btn-primary btn-lg my-5 py-2 px-4 text-light" data-bs-toggle="modal" data-bs-target="#NewSpaceModal"  >AGREGAR ESPACIO</button>

            </div>

        </div>

    </div>


    <div class="col-9 text-light border-start">

      <!--esta es la parte donde comienza el espacio para el modulo de tareas-->
      <!--Modal listar tareas (Pending parametro=SpaceId)-->
      <app-list-tasks [spaceIdHijo]="spaceSelected.id"></app-list-tasks>
        
    </div>

  <app-modal-edit-space [data]="spaceSelected"></app-modal-edit-space>
  <app-modal-new-space [data]="newSpace"></app-modal-new-space>
  <app-modal-new-task></app-modal-new-task>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-light" id="exampleModalLabel">nombre de proyecto</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>


        </div>
        <div class="modal-body">
          <div class="flex-row mb-3">

            <div class="d-flex">
              <h6 class="p-3 d-inline text-light">invitar miembro:</h6>
              <div class="d-flex my-3">
                  <select class="form-select p-1" aria-label="Default select example">
                      <option selected>value</option>
                      <option value="1">Gonzalo</option>
                      <option value="2">Javier</option>
                      <option value="3">Edgardo</option>
                      <option value="4">Iran</option>
                      <option value="5">Mariana</option>
                      <option value="6">David</option>
                      <option value="7">Agustin</option>
                  </select>
              </div>
            </div>


            <div class="d-flex">
              <div *ngFor="let space of spaceList"class="card bg-secondary mx-1"><!--dtoSpaces-->
                <div class="card-body p-1 d-flex ">
  
                  <h6 class="card-title ">{{space.name}}</h6>
  
                </div>
            </div>
            </div>

    
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
</div>

  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#NewTaskModal">abrir new task</button>

</div>