<div class="modal fade" id="EditSpaceModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-light" id="EditSpaceModal">{{data.name}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body bg-dark">
          <textarea class="form-control bg-dark" id="exampleFormControlTextarea1" [placeholder]="data.description" rows="3"></textarea>
        </div>
        <div class="modal-footer d-flex">
          <button type="button" class="btn btn-dark btn-outline-danger text-light me-auto"  data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#deleteSpaceModal">eliminar espacio</button>
          <button type="button" class="btn btn-primary">guardar espacio</button>
        </div>
      </div>
    </div>
  </div>

  <app-modal-confirm-delete-space [datad]="data"></app-modal-confirm-delete-space>