@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #212121;
    color: #FAFAFA;
    padding: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

.proyectsListContainer {
    background: #424242;
    min-height: 642px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.project-card {
    position: relative;
    width: 246px;
    height: 269px;
    background-color: #212121;
    color: white;
    padding: 10px;
    margin: 25px;
    border-radius: 8px;
}

.create-project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 246px;
    height: 269px;
    background-color: #767676;
    color: white;
    padding: 10px;
    margin: 25px;
    border-radius: 8px;
    cursor: pointer;
}

.white-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #767676;
    padding: 5px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.project-color {
    background-color: #D9D9D9;
    margin: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: max;
    height: 72px;
}

.project-card h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 15px;
}

.project-card p {
    font-size: 16px;
    font-weight: 300;
    margin: 15px;
}

.go-to-project,
.project-edit {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

.project-edit {
    right: 45px;
}

.spacesList {
    max-height: 120px;
    overflow: scroll;
}

input {
    border-radius: 3px;
    min-width: 250px;
    border: none;
}

.inputDescription {
    min-width: 250px;
    min-height: 120px;
    resize: none;
}

.textDescription {
    word-wrap: break-word;
    max-height: 100px;
    overflow-y: scroll;
}

.textDescription::-webkit-scrollbar {
    display: none;
}

.modalNewProject,
.modalForProject {
    background-color: #212121;
    color: white;
    border: 1px solid black;
    width: 579px;
    height: 386px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.btnCloseModal {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
}

.info-new-project {
    margin-top: 25px;
    margin-left: 15px;
}

.btn-create-project {
    position: absolute;
    right: 40px;
    bottom: 20px;
    border: none;
    background-color: #767676;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 700;
}

.btn-delete-project {
    position: absolute;
    left: 40px;
    bottom: 20px;
    border: none;
    background-color: #793535;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 700;
}

.btn-edit-new-project {
    position: absolute;
    top: 40px;
    right: 10px;
}

/*.users-in-project{
    width: 32px;
    height: 32px;
    position: absolute;
    bottom:20px;
    left: 275px;
    background-color: #D9D9D9;
    border-radius: 50%;
}
.users-in-project svg{
    margin: 3px;
}
.listUsers{
    background-color: #767676;
    border-radius: 8px;
    width: fit-content;
    list-style-type: none;
    padding: 5px;
}
.modalNewUser{
    width: 300px;
    height: 200px;
    background-color: #767676;
}*/
*::-webkit-scrollbar {
    width: 6px;
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #767676;
}

*::-webkit-scrollbar-track:hover {
    background-color: #767676;
}

*::-webkit-scrollbar-track:active {
    background-color: #767676;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #212121;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #212121;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #212121;
}