@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #212121;
    color: #FAFAFA;
    padding: 25px;
    margin-bottom: 0;
    margin-top: 0;
}

.proyectsListContainer {
    background: #212121;
    min-height: 642px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.project-card {
    position: relative;
    width: 230px;
    height: 269px;
    background-color: #021218;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
}

.create-project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 269px;
    background-color: #495057;
    color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 8px;
    cursor: pointer;
}

.project-card,
.create-project-card {
    box-shadow: 0px 3px 5px #00000073;
    transition: transform 0.3s ease;
}
.project-card:hover,
.create-project-card:hover{
    transform: scale(1.1);
}

.white-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #767676;
    padding: 5px;
    font-weight: 400;
    font-size: 25px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.project-color {
    background-color: #D9D9D9;
    margin: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: max;
    height: 72px;
}

.project-card h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 15px;
}

.project-card p {
    font-size: 16px;
    font-weight: 300;
    margin: 15px;
}

.project-edit {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
.nameAndDescription{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    row-gap: 25px;
}

.go-to-project {
    border: none;
    border-radius: 4px;
    background-color: #0D6EFD;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.spacesList {
    max-height: 120px;
    overflow-y: scroll;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    text-align: center;
    padding: 5px 10px;
}
.spacesList li,
.spacesList button{
    border-radius: 4px;
    background-color: #2B3035;
    border: none;
    color: white;
}
.spacesList button{
    background-color: #495057;
}
.spacesList button:hover{
    background-color: #2B3035;
}


input {
    border-radius: 3px;
    min-width: 250px;
    border: none;
}

.inputDescription {
    min-width: 250px;
    min-height: 120px;
    resize: none;
}

.textDescription {
    word-wrap: break-word;
    max-height: 100px;
    overflow-y: scroll;
}

.textDescription::-webkit-scrollbar {
    display: none;
}

.modalNewProject,
.modalForProject {
    background-color: #212529;
    color: white;
    width: 579px;
    height: 386px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    z-index: 9999;
}

.new-spaces-list {
    display: flex;
    flex-direction: row;
}

.modalNewProject ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    list-style-type: none;
    margin: 25px;
}

.modalNewProject li {
    padding: 5px 10px;
    background-color: #2B3035;
    border-radius: 4px;
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.btnCloseModal {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
}

.info-new-project {
    overflow-y: scroll;
    margin-top: 25px;
    margin-left: 15px;
    height: calc(100% - 80px);
}

.btn-create-project {
    position: absolute;
    right: 40px;
    bottom: 20px;
    border: none;
    background-color: #0A57C9;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
}

.btn-create-project:hover {
    background-color: #094bad;
}

.btn-delete-project {
    position: absolute;
    left: 40px;
    bottom: 20px;
    border: 3px solid #DC3545;
    background-color: #2B3035;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
}

.btn-delete-project:active,
.btn-delete-project:hover {
    background-color: #DC3545;
}

.modalConfirmDelete {
    background-color: #2B3035;
    color: white;
    width: 350px;
    height: 260px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    text-align: center;
    z-index: 9999;
}

.modalConfirmDelete :last-child {
    position: absolute;
    right: 40px;
    bottom: 20px;
    border: 3px solid #DC3545;
    background-color: #DC3545;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
}

.modalConfirmDelete :nth-child(3) {
    position: absolute;
    left: 40px;
    bottom: 20px;
    border: 3px solid #495057;
    background-color: #495057;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: 500;
}

.modalConfirmDelete h2 {
    padding-top: 40px;
    font-size: 36px;
    font-weight: 300;
}

.modalConfirmDelete p {
    font-size: 14px;
}

.btn-edit-new-project {
    position: absolute;
    top: 40px;
    right: 10px;
}

.input-invite {
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-content: center;
}

.input-invite p {
    font-size: 20px;
}

.input-invite input {
    height: 30px;
    width: 125px;
    background-color: #2B3035;
    color: white;
}

.input-invite button {
    background-color: #0A57C9;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px 10px;
    height: 30px;
}

.success-message {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    z-index: 99999;
}


.users-in-project {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 20px;
    left: 275px;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.users-in-project svg {
    margin: 3px;
}

.listUsers {
    background-color: #767676;
    border-radius: 8px;
    width: fit-content;
    list-style-type: none;
    padding: 5px;
}

.modalNewUser {
    width: 300px;
    height: 200px;
    background-color: #767676;
}

*::-webkit-scrollbar {
    width: 6px;
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: #767676;
}

*::-webkit-scrollbar-track:hover {
    background-color: #767676;
}

*::-webkit-scrollbar-track:active {
    background-color: #767676;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #212121;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #212121;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #212121;
}