<div class="container m-0">

    <div class="row bg-black">
        <div class="col text-light">
            <h1 class="p-4 ">Nombre de proyecto</h1>
        </div>
    </div>
    <div class="row bg-dark">
        <div class="col-3 text-light">


            <div class="h-100">

                <h3 class="m-3">ESPACIOS</h3>

                <div class="card bg-secondary  my-2">
                    <div class="card-body p-2">
                      <h5 class="card-title p-0 ps-3 m-0">Diseño</h5>
                    </div>
                </div>
    
                <div class="card bg-secondary  my-2">
                    <div class="card-body p-2">
                      <h5 class="card-title p-0 ps-3 m-0">Frontend</h5>
                    </div>
                </div>
    
                <div class="card bg-secondary  my-2">
                    <div class="card-body p-2">
                      <h5 class="card-title p-0 ps-3 m-0">Backend</h5>
                    </div>
                </div>
    
                <div class="card bg-secondary  my-2">
                    <div class="card-body p-2">
                      <h5 class="card-title p-0 ps-3 m-0">QA</h5>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-9 text-light border-start">

            <h3 class="p-3">Acomodar Por:</h3>

            <div class="bg-dark border border-secondary border-opacity-50 rounded-2">

                <div class="m-3">

                    <h3>Lista de tareas</h3>

                    <div class="card bg-secondary  my-2">
                        <div class="card-body p-2">
                          <h5 class="card-title p-0 ps-3 m-0">esta es una tarea</h5>
                        </div>
                    </div>
    
                    <div class="card bg-secondary  my-2">
                        <div class="card-body p-2">
                          <h5 class="card-title p-0 ps-3 m-0">esta es una tarea</h5>
                        </div>
                    </div>
    
                    <div class="card bg-secondary  my-2">
                        <div class="card-body p-2">
                          <h5 class="card-title p-0 ps-3 m-0">esta es una tarea</h5>
                        </div>
                    </div>
    
                    <div class="card bg-secondary  my-2">
                        <div class="card-body p-2">
                          <h5 class="card-title p-0 ps-3 m-0">esta es una tarea</h5>
                        </div>
                    </div>

                </div>


            </div>

            <button type="button" class="btn btn-secondary btn-lg my-2 p-2">+ Tarea</button>
        
        </div>


    </div>
</div>