@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #021218;
    position: relative;
    height: 90px;
}

header img {
    position: absolute;
    left: 96px;
    top: 14px;
}
header button{
    position: absolute;
    right: 50px;
    top: 24px;
}

.presentation {
    background-color: #212529;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

h1 {
    font-size: 56px;
}

.presentation img {
    width: 432px;
    height: 103px;
    margin: 50px;
    margin-bottom: 50px;
}

.moreInfo {
    padding: 75px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #021218;
}

.info {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 132px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . . .";
}

h3 {
    font-size: 18px;
}

.ionicon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding-top: 50px;
    padding-bottom: 75px;
}

button {
    border: none;
    border-radius: 4px;
    background-color: #0A57C9;
    color: white;
    padding: 10px 100px;
}