/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    margin-right: 1rem;
  }
.mat-mdc-card-content{
    background-color: #212529;
}
.mat-mdc-card-header{
    background-color: #212529;
}
.ng-tns-c1205077789-0{
    background-color: #212529;
}
.mdc-dialog__surface::before{
    background-color: #212529;
}