<div mat-dialog-actions class="p-3">
  <div class="">
    <div class="d-flex justify-content-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class=" text-center bi bi-exclamation-circle-fill text-light align-self-center m-3" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg>
    </div>
    <h1 class="fs-5 text-light m-2 text-center">Eliminar Espacio</h1>
    <p class="text-light text-center">¿Estas seguro que quieres eliminar el espacio?</p>
  </div>

  <div mat-dialog-actions class="d-flex">
    <button type="button" mat-raised-button (click)="onNoClick()"class="btn btn-dark btn-outline-secondary my-3 ms-3 me-5 px-3" data-bs-dismiss="modal">cancelar</button>
    <button type="button" mat-raised-button [mat-dialog-close]="btn" cdkFocusInitial class="btn btn-danger m-3 px-3" data-bs-dismiss="modal">confirmar</button>
  </div>

</div>

<!-- <div class="d-flex bg-primary">
  <div class="bg-primary text-light">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-exclamation-circle-fill text-light align-self-center m-3" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg>
  </div>

  <h1 mat-dialog-title style="text-align: center;">confirmacionasdddddddddddd</h1>
  <p style="text-align: center;">{{ mensaje }} asdsadasd</p>
  
  <div mat-dialog-actions class="bg-dark" >
    <button class="btn btn-dark btn-outline-secondary m-3 me-auto px-3" mat-raised-button (click)="onNoClick()">Cancelar</button>
    <button class="btn btn-danger m-3 px-3" mat-raised-button [mat-dialog-close]="btn" cdkFocusInitial>Aceptar</button>  
  </div>

</div> -->

<!--   <div mat-dialog-content style="text-align: center;" class="text-light">
    
  </div>

</div> -->

