<div class="d-flex justify-content-center">
<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-exclamation-circle-fill text-light align-self-center m-3" viewBox="0 0 16 16"> 
           <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
</svg> 
<h1 mat-dialog-title style="text-align: center;">Notificacion de Confirmacion</h1>
<div mat-dialog-content style="text-align: center;">
  <p style="text-align: center;">{{ mensaje }}</p>
</div>
</div>

<div mat-dialog-actions >
  <button class="btn btn-dark btn-outline-secondary m-3 me-auto px-5" mat-raised-button" (click)="onNoClick()">Cancelar</button>
  <button class="btn btn-danger m-3 px-5" mat-raised-button [mat-dialog-close]="btn" cdkFocusInitial>Aceptar</button>  
</div>

<!-- <div class="dg-dark">
  <div class="d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-exclamation-circle-fill text-light align-self-center m-3" viewBox="0 0 16 16"> 
               <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg> 
    <h1 mat-dialog-title style="text-align: center;">Notificacion de Confirmacion</h1>
    <div mat-dialog-content style="text-align: center;">
      <p style="text-align: center;">{{ mensaje }}</p>
    </div>
    </div>
    
    <div mat-dialog-actions class="d-flex">
      <button class="btn btn-dark btn-outline-secondary m-3 me-auto px-3" mat-raised-button (click)="onNoClick()">Cancelar</button>
      <button class="btn btn-danger m-3 px-3" mat-raised-button [mat-dialog-close]="btn" cdkFocusInitial>Aceptar</button>  
    </div>


</div> -->
