.form-label{
    color: white;
}
.form-control{
    background-color: #2B3035;
    color: white;
    border-color: #2B3035;
}
.form-control::placeholder{
    color: #6f6f6f;
}
.form-text{
    color: #6f6f6f;
    font-size:smaller;
}
.form-select{
    color:#6f6f6f;
    background-color: #2B3035;
    border-color: #2B3035;
    outline: 0;
}
.fs-custom{
    font-size: smaller;
}